<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gitPub</title>
</head>

<style type="text/css">
    body {
        color: #fff;
        background-color: #0e273c;
        text-transform: uppercase; 
    }

    h1 {
        color: #E8D7F1;
        font-size: xx-large;
    }

    a {
        color: #fff;
        text-transform: capitalize;
        font-size: 20px;
    }
</style>

<body>
    <h1>At foo bar</h1>
    
    <h2><%=drink.name %></h2>
    <img src="<%=drink.image%>.jpg">
    <h2>Price: $<%=drink.price %></h2>

    <a href="/drinks/">All Drinks</a> 
 

</body>

</html>